<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This website is Tony's individual project for the Software Design and Development class for Spring 2020 at Grinnell College.
</p>
<p>
  Memepedia is a free library that stores all kinds of memes from comics, movies, albums, news, and a lot of other medium. Memepedia serves as a great platform for all meme lovers to access to popular memes and see weekly recommendations. Registered users can upload their creations of novel memes and leave comments on other memes that they are interested. The website will recommend the most popular memes on a weekly basis.
</p>
<p>
  Through my experience developing this website, I learned and practiced a lot of technical skills including implementation of static pages, introduction of dynamic elements, user database development and design of form. Furthermore, I practiced programming in Ruby and common software development techniques such as HTML and SCSS. Working with Ruby on Rails, I learned to work with Gems and utilized proper Gems to facilitate development process. In addition, I formed good software design habits of developing consistent header and footer as well as using harmonious color scheme throughout the website. As a website designer, I mastered good designing principles of combining textual and pictorial information, selecting visually appealing font type and font size, and leaving out sufficient whitespace to provide the users with a better experience of using the website.
</p>
