<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the website owner if you run into problems with the site.
</p>
<p>
  Tony Su is the owner of this website. Tony is a fourth-year Chemistry and Computer Science double major at Grinnell College. His research interests encompass polymer chemistry and energy storage devices with a focus to develop novel materials for real-life applications. In his spare time, Tony enjoys cooking, watching movies, listening to music and playing basketball. He can be reached by email at shengyi.su98@gmail.com.
</p>
