<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  If you run into general problems using this website, please contact the website owner via email at shengyi.su98@gmail. If you would like to have more memes in the library, please use "Meme Request" as the title of the email and include the themes and/or categories of memes you are interested in. The website owner will try his best to update the meme library based on your suggestion and requests.
</p>
